ClientUI/.vs/ClientUI/v15/Server/sqlite3/storage.ide-wal
ClientUI/.vs/ClientUI/v15/Server/sqlite3/storage.ide-shm
ClientUI/.vs/ClientUI/v15/Server/sqlite3/storage.ide
ClientUI/.vs/ClientUI/v15/Server/sqlite3/db.lock
ClientUI/.vs/ClientUI/v15/.suo
